@import "./packages.css";
@import "./tree.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSans;
  src: url("/fonts/IRANSans/IRANSansWeb_Medium.woff");
}

:root {
  --primary: #C58AF9;
  --light-primary: rgba(197, 138, 249, .5);
}

@layer base {
  html {
    @apply !bg-gray-100;
    scrollbar-gutter: stable both-edges;
    scroll-behavior: smooth;
  }

 :where(*):not(.ltr, .ltr *) { direction: rtl; }

 *{
  font-family: IRANSans !important
 }

  body {
    @apply max-w-[1080px] mx-auto p-0 m-0 box-border min-h-[100vh] h-full font-[IRANSans] bg-gray-100 text-sm;
  }

  input:focus {
    @apply outline-none
  }
}