@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANSans;
    src: url("/fonts/IRANSans/IRANSansWeb_Medium.woff");
}

:root {
  --primary: #C58AF9;
}

@layer base {
  html {
    @apply !bg-stone-100
  }
  body {
    @apply max-w-[1080px] mx-auto p-0 m-0 box-border min-h-[100vh] h-full font-[IRANSans] !bg-stone-100;
  }
  input:focus {
    @apply outline-none
  }
}

@layer components {
  .shadow-box {
    @apply shadow-[0_0_10px_lightgray]
  }
}