:root {
  --background: linear-gradient(
    120deg,
    #ffffff 0%,
    #ffffff 15%,
    #f7f7f7 30%,
    #e8e8e8 50%,
    #d5d5d5 65%,
    #c2c2c2 85%,
    #b0b0b0 100%
  );
  --foreground: #353535;
  --primary: #700CAA;
  --light-primary: rgba(112, 12, 170, .3);
  --secondary: skyblue;
  --gray: rgb(131, 131, 131);
  --light-gray: rgba(131, 131, 131, .5);
  --bg-light-gray: rgba(221, 221, 221, .4);
  --shadow-light-gray: rgba(211, 211, 211, .5);
  --light-red: rgb(255, 230, 230);
  --menu-size: 80px;
  --menu-secondary-size: 227px;
}

.dark-mode {
  --background: linear-gradient(
    120deg,
    #000000 0%,
    #0C0C11 20%,
    #181826 40%,
    #24243C 60%,
    #2F2F52 80%,
    #28293D 100%
  );
  --foreground: rgb(241, 241, 241);
  --light-gray: rgba(131, 131, 131, .8);
  --bg-light-gray: rgba(92, 92, 92, .3);
  --shadow-light-gray: rgba(211, 211, 211, .3);
  --light-red: rgba(83, 31, 31, 0.5);
}