@font-face {
    font-family: "Dana-Bold";
    src: url("/fonts/Dana/Dana-Bold.woff2"),
}

@font-face {
    font-family: "Dana-DemiBold";
    src: url("/fonts/Dana/Dana-DemiBold.woff2"),
}

@font-face {
    font-family: "Dana-ExtraBold";
    src: url("/fonts/Dana/Dana-ExtraBold.woff2"),
}

@font-face {
    font-family: "Dana-ExtraBlack";
    src: url("/fonts/Dana/Dana-ExtraBlack.woff2"),
}

@font-face {
    font-family: "Dana-Medium";
    src: url("/fonts/Dana/Dana-Medium.woff2"),
}